POSTGRES_DB=inventory_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_PORT=5432

GATEWAY_PORT=4000
AUTH_SERVICE_PORT=4001
INVENTORY_SERVICE_PORT=4002
STOCK_SERVICE_PORT=4003
WAREHOUSE_SERVICE_PORT=4004
REPORT_SERVICE_PORT=4005
FRONTEND_PORT=5173
NGINX_PORT=80