PORT=4000
AUTH_SERVICE_URL=http://auth-service:4001
ORDERS_SERVICE_URL=http://orders-service:4002
RETURNS_SERVICE_URL=http://returns-service:4003
WAREHOUSE_SERVICE_URL=http://warehouse-service:4004
REPORT_SERVICE_URL=http://report-service:4005

JWT_SECRET=1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ